html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.sidebar {
  order: 1;
  margin: 0;
  padding: 0;
  min-width: 160px;
}

.sidebar h2 {
  font-size: 16px;
  margin: 10px;
}

.sidebar-entry {
  padding: 10px;
  cursor: pointer;
}
.sidebar-entry.selected {
  background-color: aquamarine;
  font-weight: lighter;
}

.sidebar-entry h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.sidebar-entry.selected h3 {
  font-weight: bold;
}

.content {
  flex-grow: 3;
  order: 2;
  position: relative;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid grey;
}

.logo {
  margin: 0 10px;
  font-size: 20px;
}

.spacer {
  flex-grow: 1;
}

.search-field {
  border: 1px solid gray;
}

.search-label {
  font-size: 14px;
  font-weight: normal;
  margin: 0 10px;
}

.location-info {
  position: absolute;
  right: 0;
  top: 39px;
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  z-index: 999;
}

/* Tablet & smaller */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
  }

  .location-info {
    position: static;
  }
}
